.container {
  display: grid;
  max-width: 100%;
  margin: auto;
  gap: 10px;
  grid-template-areas:
    "header nav"
    "main aside";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  overflow: hidden;
}
aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 40px;
}
form {
  text-align: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 40px;
}
label {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-top: 20px;
}
main {
  margin-top: 40px;
}
